@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');

.onboarding{
    height: fit-content;
}

.onboarding-title{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 4em;
}

.headline{
    padding-top: 20px;
    width: 40vw;
    margin-left: 10vw;
}

.under{
    position: relative;
    z-index: 99;
}

.under::after{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 4px;
    margin-top: -10px;
    z-index: 1;
    background: linear-gradient(90deg, #DD24E1, #5117F4);
}


@media (max-width: 1313px) {
    .onboarding-title {
        font-size: 3.5em;
        padding-bottom: 0px;
    }
}

@media (max-width: 1155px) {
    .onboarding-title {
        font-size: 3em;
                padding-bottom: 0px;
    }
}

@media (max-width: 997px) {
    .onboarding-title {
        font-size: 2.5em;
        padding-top: 20px;
                padding-bottom: 0px;
    }
}

@media (max-width: 580px) {
    .onboarding-title {
        font-size: 2em;
        padding-bottom: 0px;
    }
    
    .under::after {
        height: 2px;
        margin-top: -7px;
    }
}               

@media (max-width: 390px) {
    .onboarding-title {
        font-size: 1.5em;
        padding-bottom: 0px;
    }

    .under::after {
        height: 2px;
        margin-top: -7px;
    }
}

@media (max-width: 767px) {
    .col{
        padding: 0px;
    }

        .headline {
            padding-top: 20px;
            width: 40vw;
            margin-left: 30vw;
        }
}